h5, h2, .font{
    font-family: 'Chicle', cursive;
}

p { font-family: 'Boogaloo', cursive;
    font-size: 25px

}
th {font-family: 'Boogaloo', cursive;
    font-size: 25px

}

img.icon {
    height: 25px;
    width: 25px;
    filter: brightness(0.6)contrast(0.4)hue-rotate(140deg)saturate(9.9);
}

img { height: 100px;
      width: 100px;  
}

body{
    background-image: url("../images/bkgpaper.png");
    background-color: #cccccc
}
#menu {
    display: inline;
}

nav { text-align: center;
        padding: 20px 20px 10px ; } 
